---
layout: default
title: Home
---

<!--Blog-->
<div id="blog" class="row desktop-row large-padding-top-66x medium-padding-top-64x small-padding-top-60x">

  <div class="wrapper"><!--Wrapper-->

   <!--Pagnation-->
   <div class="large-8 large-offset-2 medium-10 medium-offset-1 small-12 columns">
    {% for post in paginator.posts %}
    <div class="post">
      <h1 class="post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>

      <span class="post-date">{{ post.date | date_to_string }}</span>

      {{ post.content }}
    </div>
    {% endfor %}
  </div>

<div class="pagination large-8 large-offset-2 medium-10 medium-offset-1 small-12 columns large-padding-bottom-66x medium-padding-bottom-64x small-padding-bottom-60x">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div><!--End Pagnation-->

  </div><!--End Wrapper-->

  </div>
