
  <!--Footer-->
  <footer class="large-padding-top-6x large-padding-bottom-6x medium-padding-top-10x medium-padding-bottom-2x small-padding-top-10x small-padding-bottom-2x">
    <div class="row">
      <div class="left float-left large-6 small-12">
        <p class="large-padding-top-4x">©2016 Tyler Sanguinette. All rights reserved.</p>
      </div>

      <div class="right float-right large-6 small-12">
        <ul class="float-right">
          <li><a href="https://www.linkedin.com/in/tyler-sanguinette-a1601358"><i class="fi-social-linkedin"></i></a></li>
          <li><a href="https://dribbble.com/tsanguinette"><i class="fi-social-dribbble"></i></a></li>
          <li><a href="https://github.com/tsanguinette"><i class="fi-social-github"></i></a></li>
          <li><a class="last" href="https://www.instagram.com/tsanguinette/"><i class="fi-social-instagram"></i></a></li>
        </ul>
      </div>
    </div>

  </footer>