<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tyler Sanguinette | Lettering Sketches</title>
  <meta name="keywords" content="St. Louis, graphic, design, illustration, typography, lettering, websites, employment, print, web design, responsive design">
  <meta name="description" content="I'm a graphic designer working in St. Louis. I design websites and print material while occasionally dabbling in front-end development.">
  
  <!--Facebook Open Graph Metadata-->
  	<meta property="og:title" content="Tyler Sanguinette" />
  	<meta property="og:site_name" content="Tyler Sanguinette | Lettering"/>
  	<meta property="og:description" 
  	content="I'm a graphic designer working in St. Louis. I design websites and print material while occasionally dabbling in front-end development." />
  	<meta property="og:type" content="website" />
  	<meta property="og:url" content="http://tylersanguinette.com" />
  	<!--<meta property="og:image" content="img/facebook-og.jpg" />-->
  	<meta name="keywords" content="St. Louis, graphic, design, illustration, typography, lettering, websites, employment">

  	<!--Twitter Share Card Metadata-->
  	<meta name="twitter:card" content="summary_large_image">
  	<meta name="twitter:site" content="@tsanguinette">
  	<meta name="twitter:title" content="Tyler Sanguinette">
  	<meta name="twitter:description" content="I'm a graphic designer working in St. Louis. I design websites and print material while occasionally dabbling in front-end development.">
  	<!--<meta name="twitter:image" content="img/twitter-card.jpg">-->
	
    <link rel="stylesheet" href="{{ "/css/app.css" }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <script src="https://use.typekit.net/wcd7dhy.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
