  <!--Secondary Title-->
  <div class="large-padding-top-66x medium-padding-top-64x small-padding-top-60x secondary-title">
    <div class="row">
      <div class="large-offset-3 large-6 medium-offset-2 medium-8 small-12 columns">
        <h2 class="text-center large-margin-bottom-3x medium-margin-bottom-2x small-margin-bottom-1x">Lettering Sketches</h2>
        <p class="text-center large-padding-bottom-22x medium-padding-bottom-16x small-padding-bottom-10x">Drawing letters can help any designer focus on the core principles of design by helping them measure more accurately by eye, recognizing spacial and systematic relations along with the growth of drawing skills. Keeping a typographic journal helps me continue growing my day to day design skills. These pieces range over the past 3 years from individual letterform experiments to full words.</p>
      </div>
    </div>
  </div>